/* 
    Created on : 08.11.2017, 16:15:49
    Author     : agellweiler
*/


.shinyblue {
  opacity: .85;
  background-image: -webkit-linear-gradient(225deg, #50e5ff 0, #81d8ff 37%, #398fff 100%);
  background-image: linear-gradient(-135deg, #50e5ff 0, #81d8ff 37%, #398fff 100%);
  color: #fff; }

.fadeout {
  position: relative;
  display: inline-block; }
  .fadeout:after {
    content: "";
    pointer-events: none;
    position: absolute;
    min-width: 100px;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    display: block;
    background-image: -webkit-linear-gradient(to left, #f6f6f6, transparent);
    background-image: -moz-linear-gradient(to left, #f6f6f6, transparent);
    background-image: -ms-linear-gradient(to left, #f6f6f6, transparent);
    background-image: -o-linear-gradient(to left, #f6f6f6, transparent);
    background-image: linear-gradient(to left, #f6f6f6, transparent); }

.gallery {
  background: #f6f6f6;
  margin: 40px auto; }
  .gallery .flex {
    margin: 0; }
  .gallery .pager {
    padding: 10px 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0; }
    .gallery .pager li {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      border: 1px solid #d0d0d0;
      background-color: #fff;
      cursor: pointer;
      margin: 0 15px; }
      .gallery .pager li.active {
        background-color: #d0d0d0; }
      .gallery .pager li:hover {
        opacity: 0.6; }
  .gallery .bx-wrapper {
    box-shadow: none;
    border: none;
    background-color: transparent; }
    .gallery .bx-wrapper .bx-viewport {
      box-shadow: none;
      border: none;
      left: 0;
      background: transparent; }
    .gallery .bx-wrapper .bx-loading {
      background-color: transparent; }
  .gallery .slides {
    -ms-flex-negative: 1;
    flex-shrink: 1; }
  .gallery .flex .img {
    background-color: transparent; }

.text .style-h3:first-child {
  margin-top: 0; }

.ebook-full .cta header .style-h2 {
  line-height: 36px; }

.ebook .text ul {
  margin-top: -30px; }

.ebook .text > p {
  margin-bottom: 30px; }

ul {
  padding-left: 20px; }

li {
  font-size: inherit; }

h3.orange {
  color: #F07D00; }

.cta header .style-h3, .cta header .style-h2 {
  margin-bottom: 0;
  line-height: 26px; }

.cta-btn {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  padding: 15px 30px;
  border: 0;
  transition: box-shadow 0.3s ease-in-out;
  -webkit-transition: box-shadow 0.3s ease-in-out; }
  .cta-btn.orange {
    background: #F07D00;
    color: #fff;
    font-size: 14px;
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.22); }
    .cta-btn.orange.on-white {
      box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.25); }
  .cta-btn.white {
    background: #fff;
    color: #4b4b4b;
    font-size: 12px;
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.22); }
  .cta-btn:hover, .cta-btn:focus {
    opacity: 1;
    box-shadow: none; }
  .cta-btn.orange:hover, .cta-btn.orange:focus {
    opacity: 1;
    box-shadow: none; }
  .cta-btn.white:hover, .cta-btn.white:focus {
    opacity: 1;
    box-shadow: none; }
  .cta-btn.orange.on-white:hover, .cta-btn.orange.on-white:focus {
    opacity: 1;
    box-shadow: none; }

.readmore {
  color: #398fff;
  padding-right: 26px;
  background-image: url("../img/icon-sprite-v4.png");
  background-repeat: no-repeat;
  background-size: 235px;
  background-position: right -151px; }
  .readmore:hover, .readmore:focus {
    color: #398fff;
    opacity: 0.6; }

.youtube-embed {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%; }
  .youtube-embed iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.ideenwettbewerb {
  background: #F6F6F6;
  margin-bottom: 40px;
  margin-top: 40px; }
  .ideenwettbewerb .style-h2 {
    color: #F07D00; }

.panel-group .panel {
  border-radius: 0; }

.panel .panel-heading:hover {
  opacity: 0.7; }

.panel .style-h4 a {
  color: inherit;
  display: block;
  width: 100%; }
  .panel .style-h4 a:hover, .panel .style-h4 a:focus {
    text-decoration: underline;
    opacity: 1; }

.newsletter-form, #newsletter-confirm, #download-confirm, #contact-confirm {
  display: none; }

#newsletter-confirm .text, #download-confirm .text, #contact-confirm .text {
  padding-top: 0; }

.bootstrap-select button, .open > .dropdown-toggle.btn-default {
  background-origin: content-box;
  background-image: url("../img/icon-sprite-v4.png");
  background-repeat: no-repeat;
  background-size: 235px;
  background-position: right -170px; }

form.row {
  margin-right: 0;
  margin-left: 0; }

form .bootstrap-select > .dropdown-toggle {
  padding-right: 15px; }

form span.bs-caret {
  display: none; }

form input.text, form select, form .bootstrap-select button, form textarea {
  line-height: 50px;
  height: 50px;
  width: 100%;
  border: 1px solid #ABABAB;
  border-radius: 0;
  padding: 0 20px;
  color: #000; }

form .col-sm-6.empty {
  height: 52px; }

form textarea.text {
  padding: 15px 20px;
  line-height: 20px;
  height: 176px; }

form .checkbox {
  text-align: left;
  padding: 0;
  line-height: 25px;
  margin-bottom: 30px; }

form .form-row {
  margin-bottom: 10px; }

.form-row.select .col-sm-6.select {
  height: 50px; }

form .bootstrap-select button {
  margin-bottom: 0; }

form .btn[title="Anrede"] span {
  color: #ABABAB; }

::placeholder, ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
  color: #ABABAB !important;
  font-size: 16px; }

form .text {
  padding: 0; }

form .cta-btn {
  margin-top: 0;
  margin-bottom: 40px; }
  form .cta-btn.submit {
    margin-bottom: 0;
    margin-top: 10px; }

#newsletter-form .alert, #download-form .alert, #contact-form .alert {
  text-align: left;
  border-radius: 0; }

form select, form option {
  -webkit-appearance: none;
  background: #fff; }

footer {
  font-size: 14px;
  font-weight: 700;
  padding: 25px 0;
  background: #545454;
  color: #fff;
  line-height: 20px; }
  footer ul {
    padding-left: 0;
    margin-bottom: 0;
    text-align: center; }
  footer nav li {
    display: inline-block;
    list-style: none; }
  footer a {
    color: #fff !important; }
    footer a:hover, footer a:focus {
      opacity: 0.6;
      color: inherit; }
  footer p, footer nav li {
    line-height: 20px; }
  footer .shariff ul.orientation-horizontal {
    display: block;
    margin-top: 25px; }
  footer .shariff li.shariff-button {
    display: inline-block;
    float: none;
    margin-right: 0;
    margin-bottom: 0;
    max-width: initial;
    min-width: 0;
    width: 50px; }

body .shariff li.shariff-button .share_text {
  display: none; }

.shariff li.shariff-button a {
  background: transparent; }
  .shariff li.shariff-button a:hover {
    opacity: 1; }

footer .shariff .facebook a:hover {
  background-color: #3b5998; }

footer .shariff .twitter a:hover {
  background-color: #55acee; }

footer .shariff .googleplus a:hover {
  background-color: #d34836; }

footer .shariff .linkedin a:hover {
  background-color: #0077b5; }

footer .shariff .xing a:hover {
  background-color: #126567; }

/* Desktop and Tablets sm/md/lg */
@media (min-width: 768px) {
  section header {
    width: 66.67%; }
  .cta header, .cta ul {
    margin-bottom: 26px; }
  .cta li {
    line-height: 26px; }
  .cta.flex .img {
    background-position: top left;
    padding: 30px; }
  .flex > div.small {
    flex-basis: 25%;
    -ms-flex-preferred-size: 25%; }
  .flex > div.big {
    flex-basis: 75%;
    -ms-flex-preferred-size: 75%; }
  .ebook-full .flex > div.small {
    flex-basis: 30%;
    -ms-flex-preferred-size: 30%; }
  .ebook-full .flex > div.big {
    flex-basis: 70%;
    -ms-flex-preferred-size: 70%; }
  .ideenwettbewerb.flex > div.small {
    flex-basis: 35%;
    -ms-flex-preferred-size: 35%; }
  .ideenwettbewerb.flex > div.big {
    flex-basis: 65%;
    -ms-flex-preferred-size: 65%; }
  .gallery .slides {
    padding: 55px 0 15px; }
  .gallery .left, .gallery .right {
    position: relative;
    padding: 0 10px;
    width: 55px;
    top: 23px;
    flex-grow: 0;
    flex-shrink: 0; }
  .gallery .prev {
    display: block;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    width: 35px;
    height: 35px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #B0B0B0;
    background-image: url("../img/icon-sprite-v4.png");
    background-repeat: no-repeat;
    background-size: 235px;
    background-position: 0px -112px; }
  .gallery .next {
    display: block;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    width: 35px;
    height: 35px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #B0B0B0;
    background-image: url("../img/icon-sprite-v4.png");
    background-repeat: no-repeat;
    background-size: 235px;
    background-position: 0px -112px;
    background-position: -35px -112px; }
  .gallery .prev:hover, .gallery .next:hover {
    opacity: 0.6; }
  .gallery .text {
    padding: 0 20px 25px; }
  form .col-sm-6 {
    /* form input.text, form select, form .bootstrap-select button */
    margin-bottom: 30px; }
    form .col-sm-6:nth-child(2n+1) {
      padding-left: 0; }
  form .col-sm-3:nth-child(2n+1) {
    padding-left: 0; }
  form .col-sm-6:nth-child(2n), form .col-sm-9:nth-child(2n) {
    padding-right: 0; }
  form .col-sm-6.no-padding:nth-child(2n+1) {
    padding-right: 0; }
  form .col-sm-6.no-padding:nth-child(2n) {
    padding-left: 0; }
  .form {
    text-align: right; }
  footer nav li:first-child {
    margin-right: 20px; }
  footer nav li:last-child {
    margin-left: 20px; }
  footer p {
    text-align: right; } }

/* Desktop md, lg */
@media (min-width: 992px) {
  section header .text {
    padding: 0; }
  form {
    padding: 0 40px 40px; }
    form .btn span {
      font-size: 16px; }
  .grey.box .button {
    text-align: right;
    padding-right: 40px;
    padding-bottom: 40px; }
  .grey.box .cta-btn.white {
    margin-top: 104px; }
  .ideenwettbewerb.flex > div.small {
    flex-basis: 40%;
    -ms-flex-preferred-size: 35%; }
  .ideenwettbewerb.flex > div.big {
    flex-basis: 60%;
    -ms-flex-preferred-size: 65%; } }

/* Tablets sm & Smartphones xs */
@media (max-width: 991px) {
  .grey.box .flex {
    display: block; }
  .grey.box .button {
    padding: 0 25px 25px; }
  .ideenwettbewerb .style-h2 {
    font-size: 24px; }
  form {
    padding: 0 25px 25px; }
    form .btn span {
      font-size: 14px; }
  .anchor {
    padding-top: 60px !important;
    margin-top: -60px !important; }
  footer .container {
    padding: 0 30px; } }

/* Tablets sm */
@media (min-width: 768px) and (max-width: 991px) {
  .ebook-full .flex > div.big, .ideenwettbewerb.flex > div.big {
    flex-basis: 60% !important;
    -ms-flex-preferred-size: 60% !important; }
  .ebook-full .flex > div.small, .ideenwettbewerb.flex > div.small {
    flex-basis: 40% !important;
    -ms-flex-preferred-size: 40% !important; }
  section header .text {
    padding: 0; }
  .form {
    padding: 0 30px 40px; }
  body .container {
    width: 750px; } }

/* Desktops lg */
@media (min-width: 1200px) {
  .flex .modular img {
    max-height: 350px; } }

/* Smartphones xs */
@media (max-width: 767px) {
  section header {
    margin-top: 0;
    margin-bottom: -40px; }
  .cta header, .cta ul {
    margin-bottom: 15px; }
  .cta li {
    line-height: 20px; }
  .ebook-small {
    margin-top: 80px; }
    .ebook-small .cta.flex .img {
      margin-top: -80px; }
  .cta.flex .img {
    height: 165px;
    background-position: center;
    padding: 20px; }
  .cta.flex.ideenwettbewerb .img {
    height: 250px; }
  .cta.flex .text.second {
    padding-top: 0; }
  .gallery .slides {
    padding: 25px; }
  .gallery .flex {
    position: relative; }
    .gallery .flex .img {
      margin-bottom: 25px;
      position: relative; }
      .gallery .flex .img img {
        max-width: 100%; }
  .gallery .prev, .gallery .next {
    top: 0;
    z-index: 2;
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 60px;
    transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    background-image: url("../img/icon-sprite-v4.png");
    background-repeat: no-repeat;
    background-size: 235px;
    background-position: -92px center; }
  .gallery .prev {
    left: 0; }
  .gallery .next {
    right: 0;
    background-position: -152px center; }
  .gallery .prev:hover, .gallery .next:hover, .gallery .prev:focus, .gallery .next:focus {
    background-color: rgba(255, 255, 255, 0.5); }
  .gallery .text {
    padding: 0; }
  .form .col-sm-6, .form .col-sm-3, .form .col-sm-9 {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 10px; }
  form .col-sm-6.empty {
    display: none;
    margin-bottom: 0; }
  footer {
    padding: 15px 0;
    text-align: center; }
    footer p {
      margin-top: 20px;
      text-align: center; }
    footer nav li {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-top: 5px; } }

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px; }

/* Smartphones portrait md xs */
@media (max-width: 400px) {
  .cta-btn {
    width: 100%; } }

#stage {
  width: 100%;
  height: 100%;
  font-weight: 700;
  overflow: auto;
  text-align: center;
  background-color: transparent;
  background-image: url("https://embed.widencdn.net/download/igus/794f7ofdkw/header-robolink.png");
  background-repeat: no-repeat;
  background-position: center; }

#mobile-menu {
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  border-width: 0 0 0;
  background-color: #545454;
  box-shadow: 0px 2px 12px 0px rgba(84, 84, 84, 0.5);
  min-height: 50px;
  margin-bottom: 20px; }
  #mobile-menu .navbar-toggle {
    position: relative;
    float: right;
    border-radius: 0;
    padding: 23px;
    padding-bottom: 31px;
    margin: 0px;
    border: 0;
    background-color: transparent;
    background-image: url("../img/icon-sprite-v4.png");
    background-repeat: no-repeat;
    background-size: 235px;
    background-position: 0 0; }
    #mobile-menu .navbar-toggle:focus {
      outline: 0; }
    #mobile-menu .navbar-toggle:hover {
      background-color: #fff; }
  #mobile-menu .navbar-brand {
    color: #fff;
    height: 60px;
    font-size: 14px;
    line-height: 10px;
    display: inline-block;
    padding: 6px 0px 12px 15px; }
    #mobile-menu .navbar-brand strong {
      font-size: 16px;
      line-height: 30px; }
  #mobile-menu .navbar-collapse {
    padding: 0;
    background-color: #fff; }
    #mobile-menu .navbar-collapse ul {
      list-style: none;
      padding-left: 0;
      margin: 6px 0; }
    #mobile-menu .navbar-collapse li a {
      display: block;
      padding: 6px 15px;
      color: #398FFF; }
      #mobile-menu .navbar-collapse li a:hover {
        text-decoration: underline; }

#stage h1 {
  margin: 0;
  color: #fff;
  margin-top: 80px;
  margin-bottom: 30px;
  cursor: default; }
  #stage h1 span {
    display: block;
    text-transform: uppercase; }
  #stage h1 .lc {
    color: #CAEAFF;
    font-size: 110px;
    line-height: 0.5em; }
  #stage h1 .r {
    font-size: 65px;
    line-height: 1.1em; }
  #stage h1 img {
    margin-top: 80px;
    margin-bottom: 30px;
    width: 550px;
    height: auto; }

#stage blockquote {
  border-left: 0;
  margin: 0;
  padding: 0;
  font-size: 17.5px; }
  #stage blockquote p {
    line-height: 1.25em; }
  #stage blockquote cite {
    font-weight: normal;
    font-style: normal;
    line-height: 1.5em; }

.menu-placeholder {
  position: relative;
  background-color: #545454; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 20px solid #545454;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 5; }

.sticky {
  position: fixed;
  top: 0; }

#menu {
  width: 100%;
  background-color: #545454;
  text-transform: uppercase;
  text-align: center;
  z-index: 10;
  position: relative; }
  #menu.sticky {
    position: fixed;
    top: 0; }
  #menu ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0; }
  #menu li {
    list-style: none;
    display: inline-block; }
  #menu .active {
    background: #777; }
  #menu a {
    padding: 0 2em;
    display: block;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.45px;
    text-decoration: none; }
  #menu .besides {
    position: absolute;
    font-size: 14px;
    font-weight: normal; }
  #menu .pull-left {
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out; }
  #menu.sticky .pull-left {
    opacity: 1; }
  #menu .pull-right {
    right: 0; }
  #menu a:hover, #menu a:focus {
    text-decoration: none;
    background: transparent;
    opacity: 1; }
  #menu .besides:hover, #menu .besides:focus {
    text-decoration: none;
    background: transparent;
    opacity: 1; }
  #menu a:hover, #menu .besides:hover {
    text-decoration: underline; }

#intro .img {
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  #intro .img img {
    width: 100%; }

/* HOMEPAGE Desktop lg */
@media (min-width: 1200px) {
  #stage blockquote cite {
    font-size: 14px; }
  #intro .intro .text {
    width: 585px;
    /* 1170px/2 */ } }

@media (min-width: 1200px) {
  body .container {
    width: 1170px; } }

/* HOMEPAGE: Desktop and Tablets sm/md/lg */
@media (min-width: 768px) {
  #stage {
    padding-bottom: 60px;
    background-size: contain; }
    #stage blockquote {
      width: 50%;
      float: left;
      left: 16.66666667%;
      position: relative;
      text-align: right; }
      #stage blockquote p {
        text-align: right; } }

/* HOMEPAGE Desktop md, lg */
@media (min-width: 992px) {
  #stage blockquote p {
    font-size: 32px; }
  #stage blockquote cite {
    font-size: 11px; }
  #menu {
    height: 70px;
    line-height: 70px; }
    #menu a {
      height: 70px;
      line-height: 70px; }
  .menu-placeholder, .nav {
    height: 70px;
    line-height: 70px; }
  #menu a {
    font-size: 20px; }
  #intro.container {
    width: 100%;
    padding-left: 0;
    padding-right: 0; }
  #intro .intro .text {
    float: right;
    width: 485px;
    /* 970px/2 adjusting to bootstrap container width */
    padding-left: 15px;
    /* adjusting to bootstrap col padding */ } }

/* HOMEPAGE Tablets sm & Smartphones xs */
@media (max-width: 991px) {
  #stage {
    background-image: url("../img/header-robolink-medium.png"); }
    #stage blockquote p {
      font-size: 24px; }
    #stage blockquote cite {
      font-size: 10px; }
  #intro.container {
    display: block; }
  #intro .img {
    display: none; }
  #menu a {
    font-size: 18px; } }

/* HOMEPAGE Tablets sm */
@media (min-width: 768px) and (max-width: 991px) {
  #stage blockquote cite {
    font-size: 13px; }
  #menu {
    height: 60px;
    line-height: 60px; }
    #menu a {
      height: 60px;
      line-height: 60px; }
  .menu-placeholder, .nav {
    height: 60px;
    line-height: 60px; } }

/* HOMEPAGE Smartphones xs */
@media (max-width: 767px) {
  #stage {
    padding: 36px 25px 25px;
    background-size: cover; }
    #stage blockquote {
      margin-bottom: 0;
      text-align: left; }
      #stage blockquote p {
        text-align: left; }
      #stage blockquote cite {
        font-size: 11px;
        width: 55%;
        margin: 0 auto;
        display: block; } }

@media (max-width: 767px) {
  body:not(.subpage) {
    margin-top: 60px; }
  .backlink .container {
    padding: 0 25px; }
  .text {
    padding: 25px; }
  .hidden-xs {
    display: none !important; }
  .visible-xs {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .text, #intro .text {
    padding: 30px; }
  .flex.box.half.crop .img {
    flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center; }
    .flex.box.half.crop .img > img {
      max-width: none;
      max-height: 320px; }
  .flex.box.half.crop .text {
    flex-basis: 60%;
    -ms-flex-preferred-size: 60%; } }

@media (max-width: 991px) {
  body {
    font-size: 14px; }
    body .container {
      width: 100% !important;
      padding: 0; }
  .style-h2 {
    font-size: 16px; }
  .style-h3 {
    font-size: 16px;
    margin-bottom: 0;
    line-height: 26px; }
  body p, body ul {
    margin-bottom: 15px; }
  #back-to-top {
    width: 40px;
    height: 40px;
    background-position: -52px -60px; } }

@media (min-width: 992px) {
  body {
    /*.container {
      width: 970px;
    }*/ }
    body p, body ul {
      margin-bottom: 30px; }
  #intro .text, .text {
    padding: 42px; }
  .anchor {
    padding-top: 70px !important;
    margin-top: -70px !important; }
  .flex .img > img {
    max-height: 490px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .flex.box.half.crop .img {
    flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center; }
    .flex.box.half.crop .img > img {
      max-width: none;
      max-height: 380px; }
  .flex.box.half.crop .text {
    flex-basis: 60%;
    -ms-flex-preferred-size: 60%; } }

section header {
  background-color: transparent;
  margin: 40px auto 0; }

.flex .img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .flex .img > img {
    z-index: 2;
    position: relative;
    margin: 0 auto; }

body a {
  text-decoration: none;
  color: #398fff; }
  body a:focus, body a:hover {
    text-decoration: none;
    color: #398fff; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

article, header, nav, section {
  display: block; }

.btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before {
  display: table;
  content: " "; }

.btn-toolbar:after, .btn-toolbar:before {
  display: table;
  content: " "; }

.clearfix:after, .clearfix:before {
  display: table;
  content: " "; }

.container-fluid:after, .container-fluid:before {
  display: table;
  content: " "; }

.container:after, .container:before {
  display: table;
  content: " "; }

.dl-horizontal dd:after, .dl-horizontal dd:before {
  display: table;
  content: " "; }

.form-horizontal .form-group:after, .form-horizontal .form-group:before {
  display: table;
  content: " "; }

.modal-footer:after, .modal-footer:before {
  display: table;
  content: " "; }

.modal-header:after, .modal-header:before {
  display: table;
  content: " "; }

.nav:after, .nav:before {
  display: table;
  content: " "; }

.navbar-collapse:after, .navbar-collapse:before {
  display: table;
  content: " "; }

.navbar-header:after, .navbar-header:before {
  display: table;
  content: " "; }

.navbar:after, .navbar:before {
  display: table;
  content: " "; }

.pager:after, .pager:before {
  display: table;
  content: " "; }

.panel-body:after, .panel-body:before {
  display: table;
  content: " "; }

.row:after, .row:before {
  display: table;
  content: " "; }

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html body {
  font-family: Roboto, Arial, sans-serif;
  color: #666;
  font-size: 16px;
  position: relative;
  line-height: 1.42857143;
  background-color: #fff;
  margin: 0; }

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: inherit;
  font-weight: 700;
  margin-top: 0;
  color: inherit; }

body .style-h2 {
  font-size: 32px;
  line-height: .9375em;
  margin-bottom: 0.93755em; }

body .style-h3 {
  font-size: 20px;
  line-height: 1.5em;
  margin-bottom: 1.5em; }

body .style-h5 {
  font-size: 16px; }

body p {
  line-height: 1.625em;
  text-align: left;
  margin: 0 0 10px; }
  body p:last-child {
    margin-bottom: 0; }

body a {
  background-color: transparent; }
  body a:focus, body a:hover {
    opacity: 0.6; }

body .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.flex.box .img, .sr-only {
  padding: 0; }

img {
  vertical-align: middle;
  border: 0; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

article {
  background: #fff; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.shinyblue {
  opacity: .85;
  background-image: -webkit-linear-gradient(225deg, #50e5ff 0, #81d8ff 37%, #398fff 100%);
  background-image: linear-gradient(-135deg, #50e5ff 0, #81d8ff 37%, #398fff 100%);
  color: #fff; }

#back-to-top {
  display: block;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  z-index: 10;
  opacity: 0;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.22);
  background-color: #fff;
  background-image: url(../img/icon-sprite-v4.png);
  background-repeat: no-repeat;
  background-size: 235px;
  background-position: 0 -60px; }
  #back-to-top.visible {
    opacity: 1; }

.substage {
  padding: 40px; }

.cta.flex .img, .substage .flex .img {
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-color: transparent;
  padding-left: 0; }

/* asset is now in contentful
.ebook .img {
  background-image: url(../img/badge-book.png);
  padding-right: 0;
}

.robolink .img {
  background-image: url(../img/badge-robolink.png);
}*/
.grey.box, section article {
  background: #F6F6F6;
  margin-top: 40px;
  margin-bottom: 40px; }

@media (min-width: 768px) {
  .flex {
    overflow: hidden;
    position: relative; }
    .flex > div {
      overflow: hidden;
      position: relative; }
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
    .flex.box {
      width: 100%; }
    .flex > div {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto; }
    .flex.half > div {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }
    .flex > div.first {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
    .flex > div.second {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
    .flex > div.small {
      flex-basis: 25%;
      -ms-flex-preferred-size: 25%; }
    .flex > div.big {
      flex-basis: 75%;
      -ms-flex-preferred-size: 75%; }
  .cta.flex .img {
    background-position: top left; }
  .visible-xs {
    display: none !important; } }

#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #555; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#topBtn:hover {
    background-color: #398fff; /* Add a blue background on hover */
}

